* {
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "roboto";
    background: #FFD700; /* Gold */
    margin: 30px 80px;
    height: 100vh;
    display: flex;
   justify-content: center;
}

.container {
    perspective: 3000px;
}

.carte {
    width: 360px;
    height: 530px;    transform-style: preserve-3d;
    cursor: pointer;
    border: 1px solid goldenrod;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2),
    -5px -5px 10px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    transition: -webkit-transform 5s ease-in-out,
    transform 5s ease-in-out;
}

.carte:hover {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    transition: -webkit-transform 1s ease-in-out,
    transform 1s ease-in-out;
}
.front-page, .back-page {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 15px;
}

.front-page {
    background: url(../IMAGES/Pp.png) no-repeat center center/cover;
}

.front-info {
    position: absolute;
    bottom: 10px;
    left: 15%;
    color: #FFD700;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.mon-nom {
    font-size: 2rem;
    font-weight: bold;
}

.mon-titre {
    font-size: 1.2rem;
    margin-top: 5px;
    color: #FFD700;
}

.back-page {
    background: #0B0B0B;
    color: #FFD700;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
}

.back-info {
    text-align: center;
    padding: 20px;
    max-width: 300px;
}

.back-info>h3 {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 15px;
}

.mon-boulot {
    font-size: 1rem;
    color: #FFD700;
    margin-bottom: 20px;
    line-height: 1.6;
}

.card-btn {
    background: #ffd700;
    color: #0B0B0B;
    padding: 10px 14px;
    font-size: 1rem;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.card-btn:hover {
    background: #C0C0C0; 
    color: #ffd700;
    border: 2px solid #ffd700;
}